body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #2a2a2f;
  }
  

.rsvp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    height: 100vh;
}
  
.rsvp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin: 16px;
}

.rsvp-input {
    width: 100%;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.phone-input-container {
    margin-bottom: 8px;
}

.phone-input {
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.phone-group-3 {
    width: 97.5px;;
}

.phone-group-4 {
    width: 130px;
}

/* Focused input styles */
.rsvp-input:focus, .phone-input:focus {
    border-color: #34dbd5; /* Blue border */
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3); /* Light blue shadow */
}

/* Placeholder styles */
.rsvp-input::placeholder, .phone-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.btn-primary {
    background-color: #2a2a2f;
    color: white;
    padding: 8px 32px;
    border: 1px solid #2a2a2f;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
    max-width: fit-content
}

.btn-secondary {
    background-color: #fdfdfd;
    color: #2a2a2f;
    padding: 8px 32px;
    border: 1px solid #2a2a2f;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
    max-width: fit-content
}

.rsvp-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    text-align: center;
}

.header-primary {
    font-size: 24px;
    font-weight: bold;

}

.text-secondary {
    font-size: 14px;
    margin-top: 8px;
    color: #6f6f6f;
}

.spinner {
    border: 2px solid #2a2a2f;
    border-top: 2px solid #ffffff;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 8px;
}

.photos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 16px;
}

.carousel-content {
    width: 390px;
}

.custom-card {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 324px;
    width: 350px;;
    margin: 0px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
  }

.photo-preview img {
    max-width: 100%;
    border-radius: 10px;
  }

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.photo-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 32px;
    margin-bottom: 8px;
    width: 250px;
    height: 188px;
    border-radius: 12px;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

form {
display: flex;
flex-direction: column;
}
  
input {
margin: 8px 0;
padding: 8px;
}
  
  